body {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
}

h1, h2, h3 {
  font-family: "Montserrat";
}

/* Headings */
.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #94d3ac;
  color: #fff;
}

.white-section {
  background-color: #eeeeee;
  color: #000;
}

/* Title */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 200;
}

/* Title image */
.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* features section*/
#features {
  position: relative;
}

#features .section-heading {
  font-size: 1.4rem;
}

.feature-p {
  color: grey;
}

.feature-sections {
  padding: 5%;
}

.icon {
  color: #94d3ac;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #7bce9a;
}

/* Testimonials section */
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press section */
#press {
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing  */
#pricing {
  padding: 100px;
}

.card-header .section-heading {
  font-size: 1.4rem;
}

.pricing-column {
  padding: 3% 2%;
}

.card-body .section-heading {
  font-size: 2.5rem;
  font-weight: normal;
}

.price-p {
  font-size: 1.3rem;
}

/* call to section */
#pricing .big-heading {
  font-size: 3.2rem;
}

/* footer */
.footer-icons {
  margin: 20px 10px;
}

/* media Query */
@media (max-width:990px) {
  .title-img {
    position: static;
    transform: none;
  }

  #title .container-fluid {
    text-align: center;
  }
}
